@import "~bulma/bulma.sass";

@import "variables.sass";

.nested.dropdown {
  &:hover > .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    top: -13px;
    margin-left: 100%;
  }
  .dropdown-trigger {
    button::after {
      content: '⦠'
    }
    button {
      padding: 0px 0px;
      border: 0px;
      font-size: 14px;
      font-weight: 400;
      height: 2em;
    }
  }
}

// Colors
.rs-yellow-dark-1 {
  color: $rs-yellow;
}

// Fonts
.rs-montserrat{
  font-family: $montserrat;
}

.rs-body-white{
  background-color: $rs-white;
}

.brand-title{
  font-family: $roboto, sans-serif;
  font-weight:700;
  font-size:32px;
  color: $rs-yellow
}

.brand-color{
  background-color: $rs-yellow;
}

.reset-color{
  background-color:#fff
}

// Typography
.rs-subheader{
  font-family: $roboto;
  font-size:20px;
  color:#22211e
}

.rs-title {
  font-family: $roboto;
  font-weight: 900;
  font-size: $rs-title;
}

.rs-title-3{
  font-family: $montserrat;
  font-size: $rs-headline-sub;
  color: $rs-black
}

.is-vertical-center{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center
}

.main-title{
  font-family: $roboto;
  font-size: $rs-subheader;
  font-weight:700;
  line-height: 35px
}

.main-subtitle, .main-title {
  font-family: $roboto;
  color: $rs-black;
}

.main-subtitle {
  font-size: $rs-quote;
}

.rs-semibold {
  font-weight:600
}

// Margins
.my-section {
  margin-top:100px;
  margin-bottom:100px
}

.my-section-1 {
  margin-top:50px;
  margin-bottom:50px
}

.mt-section{
  margin-top:25px
}

.mb-section {
  margin-bottom:25px
}

.pb-section {
  padding-bottom:25px
}

#map{
  height:100%;
  overflow:hidden
}